@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@378;500;600;700&family=Ubuntu:wght@378;500;700&display=swap');
*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color: #000; */
    width: 100%;
}
header{
    width: 100%;
    height: 35px;
    background-color: crimson;
    position: static;
}
header ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    border: 1px solid #000;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #262626;
    overflow: hidden;
    margin: 15px 3px 0 3px;
    transition: .3s;
    border: none;
}

header ul li a .fa{
    transform: rotate(0);
}
header ul li a:before{
    content: '';
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 33);
    transition: .2s;
}

.header ul li a:hover:before{
    top: 0;
    bottom: 0;
    left: 0;
}
header ul li a:hover{
    color: #fff;
}


.mainMenu{
    max-width: 100%;
    margin: 0 80px;
    padding: 0, 80px;
}
.navBar{
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    margin: auto;
    transition: all 0.3 ease-in-out;
    z-index: 998;
}

.navBar.sticky{
    background: crimson;
    position: fixed;
    margin-top: -45px;
}

.navBar .mainMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar .logo img{
    height: 80px;
}
.navBar .menu li{
    list-style: none;
    display: inline-block;
}
.navBar .menu li a{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navBar.sticky .menu li a:hover{
    color: #000;
}
.navBar .menu li a:hover{
    color: crimson;
}


.navBar .menu_btn{
    color: #fff;
    font-size: 25px;
    display: none;
    cursor: pointer;
}





.home{
    width: 100%;
    background: url(img/dark_lap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

/* nav */
/* s */
/* e */
/* c */
/* t */
/* i */
/* o */
/* n */

/* home */

.home_txt{
    margin: auto;
}
.home_txt h1{
    color: #fff;
    font-size: 66px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4.5px;
}
.home_txt .title{
    font-family: 'Poppins', sans-serif;
    color: rgb(98, 253, 253);
    font-size: 86px;
    line-height: 86px;
}
.home_txt h4{
    font-family: 'Poppins';
    color: rgb(98, 253, 253);
    font-size: 26px;
    font-weight: normal;
}

.home_txt h4 .sub_title{
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.intro_txt{
    margin: auto;
}
.intro_txt p{
    font-family: Courier, monospace;
    color: #fff;
    font-size: 23px;
    letter-spacing: 3px;
}

.skills{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 60px 0 0 0;
    padding: 20px 0;
}

/* skills cards */
.card{
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(90, 90, 90, 0.726);  
    margin: 0 10px;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.4s ease;
}
.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    pointer-events: none;  
    background: rgba(235, 233, 233, 0.411);
}
.card:hover{
    transform: translateY(-10px);
}
.percent{
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: inset 0 0 50% #000;
    background: #222;
    z-index: 996;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2{
    font-size: 36px;
    font-weight: 500;
    transition: all 0.4s ease;
}

.percent .number h2 span{
    font-size: 20px;
}
.card:hover .percent .number h2{
    color: #fff;
    font-size: 46px;
}
.c_box .text{
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
    font-size: 26px;
    color: #fff;
    font-weight: 100;
}

svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 997;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #383838;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);

}
svg circle:nth-child(2){
    stroke-dasharray: 378;
    stroke-dashoffset: 378;
}

.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(378 - (378 * 89) / 100);
    stroke: rgb(255, 6, 234);
}

.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(378 - (378 * 74) / 100);
    stroke: rgb(6, 255, 234);
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(378 - (378 * 34) / 100);
    stroke: rgb(0, 255, 42);
}
.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(378 - (378 * 60) / 100);
    stroke: rgb(255, 43, 6);
}

/* h2 colors */
.card:nth-child(1) .percent .number h2:nth-child(1){
    color: rgb(255, 6, 234);
}
.card:nth-child(2) .percent .number h2:nth-child(1){
    color: rgb(6, 255, 234);
}
.card:nth-child(3) .percent .number h2:nth-child(1){
    color: rgb(0, 255, 42);
}
.card:nth-child(4) .percent .number h2:nth-child(1){
    color: rgb(255, 43, 6);
}

/*  */


/* s */
/* e */
/* c */
/* t */
/* i */
/* o */
/* n */

.container{
    width: 100%;
    padding: 80px;
    margin: auto;
}

.about, .services, .testimonials{
    font-family: 'Poppins', sans-serif;
}

.about{
    font-family: 'Poppins', sans-serif;
    background-color: #222222;
    padding-bottom: 80px;
}
section .title{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 60px;
    text-align: center;
    color: #fff;

}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 7px;
    border-radius: 4px;
    background: crimson;
}


section .title::after{
    position: absolute;
    bottom: -11px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    transform: translate(-50%);
}
.about .title::after{
    content: "whoami";
    background: #222222;
}
.about .title::before{
    width: 140px;
}
.about .about_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about_content .sideBarRight{
    width: 56%;
}

.about .about_content .sideBarRight .text{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 378;
    font-size: 36px;
    text-align: center;
    padding: 5px;
}
.about .about_content .sideBarRight .text span{
    color: crimson;
    font-weight: 600;
}

.about .about_content .sideBarRight p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 40px;
}

.about .about_content .sideBarRight a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 25px;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.about .about_content .sideBarRight a:hover{
    color: #000;
    font-size: 20px;
    padding: 5px 25px;
    background: crimson;
    border: 1px solid #222;
}

.about .about_content .sideBarLeft img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about_content .sideBarLeft{
    width: 44%;
}


.about .about_content .sideBarLeft p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 20px 0;
    color: crimson;
}


/* a */
/* b */
/* o */
/* u */
/* t */

/* s */
/* e */
/* c */
/* t */
/* i */
/* o */
/* n */


/* service */

.services{
    width: 100%;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}
.services .title{
    color: #000;
}
.services .title::after{
    content: "my package";
    background: #fff;
    color: #000;
}
.services .title::before{
    width: 180px;
}
.services .serv_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services .serv_content .card_item{
    padding-top: 20px;
    width: calc(25% - 20px);
    text-align: center;
    background: #e2e2e2;
    border-radius: 15px;
    transition: 0.4s all ease;
    -webkit-box-shadow: -4px -4px 8px rgb(73, 73, 73);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    -4px -4px 8px rgb(73, 73, 73);  /* Firefox 3.5 - 3.6 */
    box-shadow:         -4px -4px 8px rgb(73, 73, 73);
    
}
.services .serv_content .card_item:hover{
    transform: scale(1.06);
}
.services .serv_content .card_item:hover .text{
    color: #000;
}
.services .serv_content .card_item:hover p{
    color: crimson;
}

.services .serv_content .card_item:hover img{
    transform: translate(0, 10%);
}
.services .serv_content .card_item img{
    height: 190px;
    width: 190px;
    object-fit: cover;
    margin: 15px 0;
    transition: 0.4s all ease;
}

.services .serv_content .card_item .text{
    color: crimson;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0;
}
.services .serv_content .card_item p{
    padding: 0 0 5px 0;
}

/* services */



/* Project */
/* s */
/* e */
/* c */
/* t */
/* i */
/* o */
/* n */

.projects{
    width: 100%;
    background-color: #4e4e4e;
    height: max-content;
    padding: 80px 0;
}
.projects .title::before{
    width: 240px;
}
.projects .title{
    color: #fff;
}
.projects .title::after{
    content: "work done";
    background-color: #4e4e4e;
    color: #fff;
}

.projects .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.projects .container .pjCard{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(224, 224, 224);
    border-radius: 15px;
    -webkit-box-shadow: 8px 8px 15px 6px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    8px 8px 15px 6px #000;  /* Firefox 3.5 - 3.6 */
    box-shadow:         8px 8px 15px 6px #000;
}

.pjCard img{
    height: 500px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
}
.projects .container:nth-child(5) .pjCard:nth-child(1) img{
    height: 250px;
}
.projects .container:nth-child(5) .pjCard:nth-child(2) img{
    height: 350px;
}

.container .pjCard:hover img{
    left: 70%;
    height: 550px;
}
.container .pjCard .pjContent{
    position: relative;
    width: 50%;
    left: 0;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.container .pjCard:hover .pjContent{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.container .pjCard .pjContent h2{
    font-family: 'Poppins' sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    color: crimson;
}
.container .pjCard .pjContent p{
    font-size: 1.5em;
}
/* Projects */



/* testimonials */

.testimonials{
    width: 100%;
    background-color: #222222;
    padding-bottom: 80px;
}

.testimonials .title::before{
    width: 240px;
}
.testimonials .title{
    color: #fff;
}
.testimonials .title::after{
    content: "people say";
    background: #222222;
    color: #fff;
}
.testimonials .carousel .card_b{
    background: #262626;
    border-radius: 5px;
    padding: 20px 35px;
    margin: 0 20px;
    transition: all 0.4s ease;
}

.testimonials .carousel .card_b:hover{
    background: #fff;
    transform: scale(0.95);
}
.testimonials .carousel .card_b .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.testimonials .carousel .card_b:hover .box{
    transform: scale(1.05);
    border-radius: 15px;
}
.testimonials .carousel .card_b .text{
    font-size: 24px;
    font-weight: 378;
    color: crimson;
    padding: 15px 0 7px 0;
}
.testimonials .carousel .card_b p{
    color: #fff;
    padding: 7px 0;
    line-height: 36px;
    font-weight: lighter;
    transition: all 0.4s ease;
}
.testimonials .carousel .card_b img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(255, 102, 0);
}


.testimonials .carousel .card_b:hover p{
    color: #000;
}


.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 7px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #fff!important;
    transition: all 0.4s ease;
}
.owl-dot.active{
    width: 34px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #fff!important;
}
/* testimonials */
/* s */
/* e */
/* c */
/* t */
/* i */
/* o */
/* n */

/* contact */
.contact{
    background: #000;
    color: #fff;
    font-family: 'Poppins' sans-serif;
}
.contact .title::after{
    content: "contact me";
    background: #000;
    color: #fff;
}
.contact .title::before{
    width: 180px;
}


.contact .bigBox{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact .bigBox .text{
    color: crimson;
    font-size: 26px;
    font-weight: 378;
    text-decoration: underline;
}
.contact .bigBox p{
    line-height: 28px;
    font-size: 18px;
    color: #fff;
}
.contact .bigBox .cont a{
    line-height: 28px;
    font-size: 20px;
    color: #fff;
    transition: all 0.4s ease;
}
.contact .bigBox .cont a:hover{
    color: crimson;
}
.contact ul li{
    list-style: none;
    line-height: 28px;
    font-size: 18px;
    display: block;
}

.contact ul li a{
    color: #fff;
    transition: all 0.4s ease;
}
.contact .social ul li a span{
    display: none;
    /* transition: all 0.4s ease; */
}
.contact ul li a:hover{
    color: crimson;
}

.contact .social ul li a:hover span{
    display: inline-block;
}

.contact .social ul li a:hover i{
    display: none;
}
/* contact */
/* s */
/* e */
/* c */
/* t */
/* i */
/* o */
/* n */

footer{
    text-align: center;
    background:  rgb(98, 253, 253);
    color: #000;
    letter-spacing: 1.2px;
    
}
footer p{
    margin: auto;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
footer .design{
    font-weight: 600;

}

@keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1)}
}



/* media query */

@media (max-width: 1024px){
    .about .about_content .sideBarRight,
    .about .about_content .sideBarLeft{
        width: 44%;
    }
        
    .about .about_content .sideBarLeft img{
        height: 340px;
        width: 340px;
    }
    
    .services .serv_content {
        flex-direction: column;
    }
    .services .serv_content .card_item{
        width: 65%;
        margin: 15px 0;
    }

    .projects .container .pjCard{
        width: 500px;
        max-width: 600px;
        height: 280px;
        align-items: flex-start;
    }
    .projects .container {
        justify-content: space-evenly;
    }


    .container .pjCard:hover .pjContent h2 {
        font-size: 20px;
    }
    .container .pjCard:hover .pjContent p {
        font-size: 14px;
    }

    .pjCard img{
        height: 370px;
    }
    .projects .container .pjCard:hover img{
        height: 400px;
        left: 70%;
    }
    .projects .container:nth-child(5) .pjCard:nth-child(1) img{
        height: 200px;
    }
    .projects .container:nth-child(5) .pjCard:nth-child(2) img{
        height: 200px;
    }
    .projects .container:nth-child(5) .pjCard:nth-child(1):hover img{
        height: 120px;
        left: 60%;
    }
    .projects .container:nth-child(5) .pjCard:nth-child(2):hover img{
        height: 180px;
        left: 60%;
    }
}

@media (max-width: 820px){
    .home{
        background: url(img/dark_lap_small.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mainMenu{
        padding: 0;
        width: 90%;
        margin: auto;
    }
    .navBar .menu_btn{
        display: block;
        z-index: 999;
    }
    .menu_btn i.active:before{
        content: "\f00d";
    }
    .navBar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background-color: rgb(98, 253, 253);
        text-align: center;
        padding-top: 70px;
        transition: all 0.4s ease;
    }
    .navBar .menu.active{
        left: 0;
    }
    
    .navBar .menu li{
        display: block;
    }
    .navBar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }
    
    .home_txt,
    .cardHolder{
        width: 90%;
    }
    
    .container{
        padding: 0;
    }
    /* all section */
    section .title{
        font-size: 36px;
        padding-top: 80px;
    }
        
    section .title::after{
        font-size: 18px;
    }
    /* all section */
    .about .about_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about .about_content .sideBarRight,
    .about .about_content .sideBarLeft{
        width: 100%;
    }
    .about .about_content .sideBarRight .text{
        font-size: 26px;
    }
    .about .about_content .sideBarRight p{
        font-size: 18px;
    }

    
    .projects .container {
        flex-direction: column;
    }
    .projects .container .pjCard{
        margin-top: 120px;
        width: 600px;
        max-width: 800px;
        margin-top: 80px;
    }
    
    .projects .container .pjCard:hover img{
        left: 80%;
    }

    .projects .container .pjCard:hover img{
        right: 12%;
        height: 230px;
    }
    
    .projects .container .pjCard:hover{
        width: 265px;
    }

}


@media (max-width: 768px){
    .home_txt,
    .intro_txt{
        width: 90%;
        margin: 50px auto 0 auto;
        transform: translate(0, 50%);
        /* background: #64e8ff; */
    }
    .home_txt h1,
    .home_txt .title{
        font-size: 30px;
    }
    .intro_txt p{
        font-size: 18px;
    }
    
    .skills{
        flex-direction: column;
    }
    .card{
        width: 70%;
        margin: 20px 0 0 0;
    }

     
    .about .about_content .sideBarLeft img{
        height: 300px;
        width: 100%;
    }
    
    .about .about_content .sideBarRight,
    .about .about_content .sideBarLeft{
        width: 95%;
    }
    .services .serv_content .card_item{
        width: 90%;
    }
    .services .serv_content .card_item .text{
        font-size: 18px;
    }
    .services .serv_content .card_item p{
        font-size: 16px;
        line-height: 2em;
        padding: 0 15px;


    }
    
    .contact .bigBox{
        margin: auto;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .cont, .social, .ql{
        width: 100%;
        padding: 10px 0 0 40px;
        line-height: 30px;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    
    
    .projects .container .pjCard{
        margin-top: 120px;
        width: 80%;
        margin-top: 80px;
    }
    .projects .container .pjCard:hover{
        width: 80%;
    }

    
}